 html {
                font-size: 22px;
            }
            body {
                background-color: #333;
                color: whitesmoke;
            }
            img{
                width: 100px;
                border-radius: 50px;
                float: left;
                margin-right: 10px;
            }
            .username {
                font-weight: bold;
            }